/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px solid red; 
}
.green{
    border: 1px solid green;
}
.banner{
    height: 873px;
    background: url("./banner.jpg") center center no-repeat;
    
    
}
 .about-sign-in{
    height: 80px;
    width: 100%;
    
 }
 a.about{
    /* display: inline-block; */
    
    float: right;
    text-decoration: none;
    margin-right: 18px;
    margin-top:  30px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
 }
 a.sign-in {
    /* display: inline-block; */
    float: right;
    text-decoration: none;
    margin-right: 50px;
    margin-top:  30px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
 }
 .logo{
    background: url(./hapoERP.png) center center no-repeat;
    margin-top: 40px;
    height: 100px;
 }
 .text{
    text-align: center;
    margin-top: 30px;
 }
 .btn-star-now{
    text-align: center;
    
 }

 /* .content-center{
    height: 50px;
    
 } */
 .banner .btn-star-now button{
    text-transform: uppercase;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-top: 25px;
    border: 1px solid yellowgreen;
    cursor: pointer;
    background-color: rgb(207, 245, 70);
    font-weight: bold;

 }

 .left,  .right, .center{
    width: 33%;
    display: inline-block;
    text-align: center;
    text-align: center ;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 span{
   display: block;
   font-size: 25px;

 }
 .text span{
    color: blue;
    font-size: 30px;
 }
 img{
    width: 30px;
    height: 30px;
 }



  